[alt="Me!"] {
    border-radius: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

[alt="Basil!"] {
    border-radius: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

[alt="Tiger!"] {
    border-radius: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}